* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/RobotoRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/RobotoBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

main {
  flex-grow: 1;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h3, p {
  margin: 0;
}

.page-wrapper {
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1230px;
  height: 100%;
}

.flex {
  display: flex;
}

.btn {
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  line-height: 150%;
  text-align: center;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: transparent;
}

.header {
  align-items: center;
  min-height: 124px;
}

.header-box {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  max-width: 100px;
}

.logo a img {
  width: 100%;
}

.header-controls {
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.btn-primary {
  background-color: #1890ff;
  color: #ffffff;
}

.btn-outline {
  outline: 1px solid #d9d9d9;
  color: #595959;
}

.banner {
  margin-bottom: 56px;
}

.banner-item {
  padding: 68px 70px;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url('./img/banner.svg');
  background-color: #fff1b8;
}

.banner-text {
  max-width: 540px;
}

.banner-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 39px;
  color: #302c34;
}

.banner-description {
  font-size: 24px;
  color: #302c34;
}

.products-header {
  margin-bottom: 44px;
  align-items: center;
  justify-content: space-between;
}

.products-header--title {
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.products-header--search {
  padding: 5px 12px 5px 32px;
  min-width: 306px;
  height: 34px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  outline: none;
  background-position: left 10px center;
  background-repeat: no-repeat;
  background-image: url('./img/search.svg');
}

.products-header--search::placeholder {
  line-height: 150%;
  color: #bfbfbf;
}

.footer {
  padding: 60px 0;
  align-items: center;
  min-height: 156px;
}

.footer-box {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 36px;
  height: 100%;
}

.footer-nav {
  flex-grow: 1;
}

.nav-list {
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.nav-list li a {
  font-size: 18px;
  color: #595959;
}

.footer-social {
  justify-content: flex-end;
}

.social-list {
  align-items: center;
  gap: 21px;
}

@media (max-width: 991px) {
  .banner {
    background-size: cover;
  }

  .banner-text {
    max-width: 100%;
  }
}